:root {
  --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
  font-family: MyCustomFont;
  src: url("fonts/HARRYP__.TTF");
}

body {
  margin: 0;
}

form {
  display: grid;
  place-content: center;
  min-height: 75vh;
}
h1 {
  font-family: MyCustomFont, Arial, sans-serif;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.form-control {
  font-family: Franklin Gothic Medium;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  color: rgb(0, 0, 0);
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control:focus-within {
  color: var(--form-control-color);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
.button-group {
  position: flex;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  text-align: center;
}

#Submit {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: MyCustomFont, Arial, sans-serif;
  font-size: 100px;
}

.background1 {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/Background.jpg");
}
